playing-card {
    display: inline-block;
    width: 100px;
}

body {
    display: grid;
    grid-template-areas:
    "house houseSum"
    "hand handSum"
    "buttons betting"
    "alert account";
    grid-template-rows: 1fr 1fr 2rem;
    grid-template-columns: 1fr 1fr;
}

#houseSum {
    grid-area: houseSum;
    font-size: 4rem;
}

#handSum {
    grid-area: handSum;
    font-size: 4rem;
}

#houseDiv {
    grid-area: house;
    display: flex;
    justify-content: center;
}

#handDiv {
    grid-area: hand;
    display: flex;
    justify-content: center;
}

#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
}

#alert {
    grid-area: alert;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}
